**/.DS_Store
__pycache__
MANIFEST
/dist
*.pyc
*.swp
.coverage
/tests/.coverage
.python-version
/build
/vasppy.egg-info
/docs/build
.nova/
/docs/superpowers/
/*.md
!/CHANGELOG.md
!/CONTRIBUTING.md
!/README.md
