name: build

# Controls when the action will run. 
on: [push, pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  tests:
      runs-on: ubuntu-latest
      timeout-minutes: 30
      strategy:
        matrix:
          python-version: [3.7, 3.8, 3.9]
      steps:
        - uses: actions/checkout@v2
        - name: Set up Python ${{matrix.python-version}}
          uses: actions/setup-python@v2
          with:
            python-version: ${{matrix.python-version}}
        - name: Install Python dependencies
          run: |
            pip install --upgrade pip
            pip install -r requirements.txt
            pip install -U numpy
            pip install mypy
            pip install types-PyYAML
            pip list
        - name: Run tests
          run: |
            coverage run --rcfile=.coveragerc -m unittest discover
            mypy vasppy
        - name: Publish code coverage
          uses: paambaati/codeclimate-action@v2.7.5
          env:
            CC_TEST_REPORTER_ID: ${{ secrets.CODECLIMATE_REPO_TOKEN }}
